*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}
header{
    margin: 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 90px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 60px;
    margin-left: 100px;
}
header button{
    margin-right: 90px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.2em;
}
header button:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    color: rgba(159, 159, 159, 0.854);
}
section{
    margin-bottom: 50px;
}
.principal{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1400px;
    padding: 20px;
    margin: 0px auto;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.principal img{
    width: 600px;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
}
.textos{
    font-weight: bold;
}
.textos  h3, p, img{
    margin-bottom: 20px;
    margin-top: 5px;
}
.textos img:hover{
    cursor: pointer;
    border: 3px solid white;
    transform: scale(1.1);
    transition: 0.3S;
}
.textos h1,h3{
    font-size: 2em;
}
.textos p{
    line-height: 3rem;
    font-size: 1.5rem;
}
section h2{
    margin: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto ;
    gap: 2em;
    flex-wrap: wrap;
    flex: 1;
    max-width:  1400px;
}
button, .card1, .card2, .card3{
    transition: 0.5s ease-in-out;
}
.container h3,p{
    padding: 0px 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.container h3{
    font-size: 2em;
}
.container p{
    font-size: 1.2em;
    line-height: 1.5em;
}
.container img{
    height: 90px;
    margin-bottom: 20px;
}
.card-1,.card-2,.card-3{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.932);
    width: 350px;
    min-height: 200px;
}
.card-1:hover, .card-2:hover, .card-3:hover,.card-4:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    border: 2px solid white;
}
footer{
    margin-top: 20px;
    padding: 20px;
    font-size: 1.2rem;
}
.textos img{
    height: 50px;
    width: 50px;
}

.meusprojetos{
    display: flex;
    justify-content: center;
    margin: 20px auto ;
    overflow-x: auto;
    gap:32px;
    flex-wrap: wrap;
    flex: 1;
    max-width: 1400px;
}
.conhecimentos {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;    
  gap: 40px;   
  padding: 96px 40px;
  max-width: 1400px;
  margin: 20px auto;
  overflow-x: auto;
}
.cards{
    margin-top: 10px;
    background-color: rgba(9, 9, 9, 0.388);
    width: 550px;
    height: 400px;
    padding: 30px;
}
.cards:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    border: 2px solid white;
}
/* Estilo do título */
.conhecimentos h2 {
  margin: 0;
  font-size: 2.5em;
  text-align: left;
  min-width: 150px; /* Garante espaço para o h2 */
}
.conhecimentos p{
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.7);
}
/* Container das logos */
.logo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex: 1; /* Ocupa o espaço restante */
  width: 350px;
 min-height: 300px;
}

/* Estilo das imagens */
.logo img {
 width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain;
}
.animacao{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-out forwards;
    max-width: 300px;
    width: 100%;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:768px){
    .principal img, .meusprojetos img{
        width: 100%;
        height: auto;
    }
    .principal, .container{
        flex-direction: column;
        align-items: center;
    }
}